@import "./reset";
@import "./teapot.scss";
@import "./button.scss";
@import "./input-text.scss";

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  .noevent {
    pointer-events: none;
  }

  #teapotcontainer {
    #login {
      padding-bottom: 2em;
    }
  }

  #app {
    display: none;
    #kanvas {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    #panel {
      margin: 1em;
      z-index: 2;
      position: fixed;

      > * {
        vertical-align: middle;
        display: inline-block;
      }

      .indicator {
        margin: 0.5em 0;
      }
    }
  }
}
